
.hero-content-form {
    max-width: 50%;
    padding-top: 18%;
    font-size: 2rem;
}

.form-card {
    margin-top: 10%;
    margin-bottom: 20%;
    transform:translateY(80px);
    max-width: 100%;
    background-color: var(--color-primary);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}

.register-form .form-group {
    margin-top: 0.5rem;
    text-align: left;
}

.register-form label {
    display: block;
    font-weight: 500;
}

.register-form input {
    width: 100%;
    border: 1px solid var(--color-text);
    border-radius: 6px;
    color: var(--color-text);
}

#maritalStatus {
    margin: 1rem 0;
    padding: 0.8rem;      
    border: 1px solid var(--color-text);
    border-radius: 4px;
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-text);
}

.form-h2 {
    margin-top: 15%;
}

@media (max-width: 900px) {

    .hero-content-form {
        text-align: center;
        justify-self: center;
        width: 100%;
        max-width: 420px;
        margin-top: 0;
    }

    .form-card {
        margin-top: 0;
    }
}


@media (max-width: 768px) {

    .hero {
        height: 704px;
    }
    .form-h2 {
        margin-top: 50%;
    }
}


@media (max-width: 650px) {

    .hero {
        height: 704px;
    }
    .hero-content-form {
        padding-top: 80%;
    }

    .form-h2 {
        margin-top: 120%;
    }
}