
.card-arrow-container {
    display: flex;
}

.elegant-arrow {
    width: 50px;
    height: 50px;
    color: var(--color-text);
    opacity: 0.8;
    animation: floatDown 2s ease-in-out infinite;
    padding-right: 1.5rem;
}

@keyframes floatDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px); /* Move levemente para baixo */
    opacity: 1;                /* Ganha um pouco mais de destaque */
  }
  100% {
    transform: translateY(0);
  }
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

.product-card {
    transition: .3s;
    background-color: var(--color-secondary);
}

.product-card h3 {
    color: var(--color-text);
}

.product-card:hover {
    transform: translateY(-8px);
}

.product-text {
    padding: 1rem 1rem 3rem 1rem;
    color: var(--color-terciary);
}

@media (max-width: 900px) {

    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 650px) {

    .products-grid {
        grid-template-columns: 1fr;
    }

}