
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3rem 0 0;
}

.logo {
    flex-shrink: 0;
}

.logo img {
    width: clamp(120px, 10vw, 140px);
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: flex;
    align-items: center;
    gap: 5rem;
}

@media (max-width: 1200px) {

    .header {
        padding: 0rem 4rem 0 2rem;
    }

}

@media (max-width: 900px) {

    .header {
        padding: 0 3.5rem 0 1rem;
    }

    .logo {
        width: clamp(120px, 10vw, 140px);
        height: auto;
    }

}

@media (max-width: 425px) {

    .header {
        padding: 0;
    }

}